.number-btn {
    width: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.action-btn {
    width: 240px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.operation-btn {
    background-color: rgb(153, 0, 0);
    color: white;
    width: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btn {
    text-align: center;
    padding: 20px;
    font-size: 22px;
}
